In [13]:
import pandas as pd

In [2]:
six = pd.read_table("NSDUH_2006_Tab.tsv",sep='\t', header = 0, index_col = 0, low_memory=False)

In [17]:

req_fields = ["ANLYR","HERYR","OXYYR","PROCODNP","OXYCODP2","HYDCODOP","TRAMADP"]

In [35]:
six_peak = six.loc[six["CATAG3"]==4,req_fields]
six_peak["COMB"] = (
    six_peak["PROCODNP"]
    +six_peak["OXYCODP2"]
    +six_peak["HYDCODOP"]
    +six_peak["TRAMADP"])
six_peak["CLASS"] = 0
six_peak.loc[(six_peak["COMB"]>0) & (six_peak["ANLYR"]==1),"CLASS"]=1
six_peak.loc[(six_peak["HERYR"]==1) | (six_peak["OXYYR"]==1),"CLASS"]=1
six_peak[["ANLYR","CLASS"]].groupby("CLASS").count()

       ANLYR
CLASS
0       7319
1        346

In [36]:
tw1 = pd.read_table(
    "NSDUH_2021_Tab.txt",
    sep='\t', 
    header = 0, 
    index_col = 0, 
    low_memory=False)

In [37]:
tw1.head()

,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,CG30EST,...,GOVTPROG,INCOME,POVERTY3,PDEN10,COUTYP4,MAIIN102,AIIND102,ANALWT_C,VESTR_C,VEREP
QUESTID2,,,,,,,,,,,,,,,,,,,,,
10000182,10/06/2022,1,99,99,19,9999,99,1,7,99,...,1,1,2.0,2,3,2,2,675.130812,40047,1
10001255,10/06/2022,1,99,99,15,9999,99,4,93,93,...,2,4,3.0,1,1,2,2,12435.513603,40037,2
10001831,10/06/2022,2,99,99,991,9991,91,91,91,91,...,2,2,2.0,2,2,2,2,647.085653,40037,2
10002722,10/06/2022,1,99,99,9,9999,99,1,30,99,...,2,2,2.0,1,1,2,2,11275.260484,40045,2
10002897,10/06/2022,2,99,99,991,9991,91,91,91,91,...,2,1,1.0,1,1,2,2,350.985132,40006,1

In [ ]:
#class variable for 2021 data is OPIANYYR