In [1]:
import pandas as pd

In [4]:
six = pd.read_table("NSDUH_2006_Tab.tsv",sep='\t', header = 0, index_col = 0, low_memory=False)

In [5]:
six.head()

,FILEDATE,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,CG30EST,...,EMPSTAT4,IIEMPST4,II2EMST4,PRXYDATA,PDEN00,MAIIN002,COUTYP2,ANALWT_C,VESTR,VEREP
QUESTID2,,,,,,,,,,,,,,,,,,,,,
70805602,02/27/2018,2,99,99,991,9991,91,91,91,91,...,2,1,1,99,2,1,2,1759.940217,30002,1
57105602,02/27/2018,1,99,99,16,9999,99,2,93,93,...,4,1,1,99,2,2,2,128.419593,30045,1
40615602,02/27/2018,1,99,99,13,9999,99,1,30,99,...,1,1,1,99,2,2,2,3089.432791,30037,1
76775602,02/27/2018,2,99,99,991,9991,91,91,91,91,...,2,1,1,99,1,2,1,8775.542155,30022,1
43216602,02/27/2018,1,99,99,12,9999,99,1,30,99,...,99,9,9,1,1,2,1,799.362515,30021,1